<h1>User info</h1>

<div>
 <%= image_tag @user.get_profile_image(100,100) %>
 <p>name <%= @user.name %> </p>
 <p>introduction <%= @user.introduction %> </p>
</div>

<h1>Books</h1>
<% @books.each do |book| %> 
<div>
  <p>Title：<%= book.title %></p>
  <p>opinion：<%= book.opinion %></p>. 
</div>
<% end %>