<h1>User info</h1>

<div>
  <%= image_tag current_user.get_profile_image(100,100) %>
 <p>name <%= current_user.name %> </p>
 <p>introduction <%= current_user.introduction %> </p>
 <%= link_to 'Edit', edit_user_path(@user)%>
</div>

<h1>New book</h1>
  <%= form_with model: @book do |f| %>
    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>Opinion</h4>
      <%= f.text_area :opinion %>
    <%= f.submit 'CreateBook' %>
  <% end %>

<h1>Books</h1>
<% @books.each do |book| %>
<div>
  <%= image_tag book.user.get_profile_image(100,100) %>
  <p>Title：<%= book.title%></p>
  <p>Opinion：<%= book.opinion %></p>
</div>
<% end %>

